/node_modules/
/lib/
/test/

# top level source
wc-overlay.js
wc-overlay.js.map
wc-overlay.d.ts
wc-overlay.d.ts.map

wc-popup.js
wc-popup.js.map
wc-popup.d.ts
wc-popup.d.ts.map

/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/src/**/*.d.ts.map

/dev/**/*.js
/dev/**/*.js.map
/dev/**/*.d.ts
/dev/**/*.d.ts.map